<h1>This is the casino page.</h1>


<div class="slotmachine" >
  <div class="slotmachine__elements" id="machine">

    <div id="casino1" class="slotMachine">
      <div class="slotmachine__elements--slot1"></div>
      <div class="slotmachine__elements--slot2"></div>
      <div class="slotmachine__elements--slot3"></div>
      <div class="slotmachine__elements--slot4"></div>
      <div class="slotmachine__elements--slot5"></div>
      <div class="slotmachine__elements--slot6"></div>
    </div>

    <div id="casino2" class="slotMachine">
      <div class="slotmachine__elements--slot1"></div>
      <div class="slotmachine__elements--slot2"></div>
      <div class="slotmachine__elements--slot3"></div>
      <div class="slotmachine__elements--slot4"></div>
      <div class="slotmachine__elements--slot5"></div>
      <div class="slotmachine__elements--slot6"></div>
    </div>

    <div id="casino3" class="slotMachine">
      <div class="slotmachine__elements--slot1"></div>
      <div class="slotmachine__elements--slot2"></div>
      <div class="slotmachine__elements--slot3"></div>
      <div class="slotmachine__elements--slot4"></div>
      <div class="slotmachine__elements--slot5"></div>
      <div class="slotmachine__elements--slot6"></div>
    </div>


  </div>
  <div class="slotmachine__buttons">
    <button class="slotmachine__buttons__button slotmachine__buttons__button--start" id="casinoShuffle">Start</button>
    <button class="slotmachine__buttons__button slotmachine__buttons__button--stop" id="casinoStop">Stop</button>
  </div>
</div>