<div  >
  <div id="particles-js"></div>

  <div class="content">

      <%= image_tag 'game/jackpotbanner.png', class: 'banner' %>
    
    <h1 class="title">WIN A FREE DRIFT PASS</h1>
    <div class="game-container">
      <div id="casino1" class="slotMachine" style="margin-left: -65px;">
        <div class="slot slot1"></div>
        <div class="slot slot2"></div>
        <div class="slot slot3"></div>
        <div class="slot slot4"></div>
        <div class="slot slot5"></div>
        <div class="slot slot6"></div>
      </div>


      <div id="casino2" class="slotMachine">
        <div class="slot slot1"></div>
        <div class="slot slot2"></div>
        <div class="slot slot3"></div>
        <div class="slot slot4"></div>
        <div class="slot slot5"></div>
        <div class="slot slot6"></div>
      </div>

      <div id="casino3" class="slotMachine">
        <div class="slot slot1"></div>
        <div class="slot slot2"></div>
        <div class="slot slot3"></div>
        <div class="slot slot4"></div>
        <div class="slot slot5"></div>
        <div class="slot slot6"></div>
      </div>
    </div>

    <div class="  btn-group " role="group" >

      <% if user_signed_in?  %>

        <% if current_user.active === true  %>

          <button id="casinoShuffle" type="button" class="btn btn--shuffle">Shuffle!</button>
          <button id="casinoStop" type="button" class="btn btn--stop">Stop!</button>

          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'btn btn--logout'%>
        <% else %>


          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'btn btn-primary btn-lg' %>
        <% end %>

      <% else current_user %>
        <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path,  class: 'btn btn-primary fb' %>
      <% end %>

    </div>

    <h2>
      <% if user_signed_in? %>
        <%if  current_user.active === true%>
          Hello <strong> <%= current_user.name %></strong> try and win a free ticket! Click on Shuffle to start rolling the machine!

        <% else %>
          Sorry <strong> <%= current_user.name %> </strong>,You did not win!
        <% end %>

      <% else %>
        Get lucky and earn free ticket
      <%end %>
    </h2>

  </div>

</div>
