<div class="container">

  <nav>
    <ul>
      <li><%= link_to 'Win FREE Passes', game_path %></li>
      <li><a href="#artists">Artists</a></li>
      <li><a href="https://in.bookmyshow.com/events/the-drift-sounds-of-tomorrow/ET00095651" target="_blank">Passes</a></li>
      <li><a href="#" data-toggle="modal" data-target="#exampleModal">Contact Us</a></li>
    </ul>
  </nav>

  <div id="particles-js"></div>

</div>


<header>
  <%= image_tag 'trendslogo.png', class: 'trends-logo' %>
  <div class="logo"></div>
  <div class="dates">
    <p>MARCH</p>
    <p class="date">9 - 10</p>
    <p>2019</p>
  </div>

  <a href="https://in.bookmyshow.com/events/the-drift-sounds-of-tomorrow/ET00095651" target="_blank" class="btn btn-4 btn-4a icon-arrow-right">BUY TICKETS</a>
</header>



<section class="section-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 left-side col-sm-12">
        <%= image_tag 'pplay.png', class: 'pplaylogo' %>

        <h2>BATTLE OF THE BANDS</h2>
        <hr class="hr">
        <p>Battle it out with the best bands in the North-East!</p>
        <p style="padding-bottom: 25px;">Perform at the Drift Music Festival and  win the grand prize!</p>



      </div>

      <div class="col-lg-6">
        <%= image_tag 'bobasset.png', class: 'bobasset  d-none d-sm-block' %>
      </div>
    </div>
  </div>
</section>


<section class="artists" id="artists">
  <div class="container">
    <h2>The artists</h2>
    <hr class="hr">


    <div class="bands">
      <%= image_tag 'bands/ritviz.jpg' %>
      <%= image_tag 'bands/gurbax.jpg' %>
      <%= image_tag 'bands/wcmt.jpg' %>
      <%= image_tag 'bands/awks.jpg' %>
      <%= image_tag 'bands/sankuraj.jpg' %>
      <%= image_tag 'bands/smatt.jpg' %>
      <%= image_tag 'bands/tranceeffect.jpg' %>
      <%= image_tag 'bands/lateral.jpg' %>
      <%= image_tag 'bands/yellowdiary.jpg' %>
      </div>

  </div>
</section>

<section class="terminal-design"></section>



<section class="artists" id="artists">
  <div class="container">
    <h2>Our Partners</h2>
    <hr class="hr">


    <div class="owl-carousel owl-theme mt-3rem">
      <div class="dummy"><%= image_tag 'sponsors/titlesponsor.jpg' %></div>
      <div class="dummy"><%= image_tag 'sponsors/sponsor1.jpg' %></div>
      <div class="dummy"><%= image_tag 'sponsors/sterling.jpg' %></div>
      <div class="dummy"><%= image_tag 'sponsors/gplus.jpg' %></div>
      <div class="dummy"><%= image_tag 'sponsors/em.jpg' %></div>
      <div class="dummy"><%= image_tag 'sponsors/sponsor4.jpg' %></div>

    </div>
  </div>
</section>

<section class="terminal-design"></section>

<footer>

</footer>

<div class="footersection">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'logo.png', class: 'footer-logo' %>
      </div>

      <div class="col-md-3 newsletter-section">
        <%= image_tag 'tunein.png', class: 'tuneinlogo' %>
        <a href="#" class="btn-newsletter">Join the newsletter</a>
      </div>

      <div class="col-md-3">
        <ul>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms of use</a></li>
          <li><a href="#">Web Accessibility</a></li>
          <li><a href="#">Wrist Band Usage</a></li>
        </ul>
      </div>

      <div class="col-md-3">
        <ul>
          <li><a href="#">Sponsors</a></li>
          <li><a href="#">Charity</a></li>
          <li><a href="#">Accessibility</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">CONTACT US</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>