<div class="container">
  <div class="text-center tos">
    <h1>Music Release Form</h1>
  <p> I hereby acknowledge my participation in the Drift Festival and give full authority to the promoters at Superpress use my submitted music/video as heard within the audition piece and grant all rights to said promoters to use such recordings, in whole or in part for promotional use on the festival’s social accounts with attribution. I also acknowledge that all music/video content is original in nature and I own the sole and legal copyright to described work, and hereby agree to the use of this work for promotional purposes.</p>


    <h2>Rules and Regulations</h2>
    <h3>Only Live Music!</h3>

    <ol style="text-align: left">
      <li>Each band has to get its own instruments. Only a common drum kit will be
        provided.</li>

      <li>Sequencing will NOT be allowed. It will result in the band being disqualified.</li>


      <li>No alcohol will be allowed on stage while performing.</li>

      <li>The organisers would like to request all participants to please leave their religious
        affiliations at home when they come to perform.</li>

      <li>Inability to follow the above rule will lead to disqualification.</li>

      <li>Each band will have to submit the lyrics of their original song as a typed sheet.
        Please do not scrawl it out on a piece of paper at the last minute and present to the
        judges. Our judges are music experts- not handwriting analysts. If you have 2-3
        original scores and plan to decide which to perform only at the venue (For
        instance: after seeing what others have performed) then we recommend that you
        carry along the typed lyrics for all of them.</li>


      <li>All participating Bands must give the organisers a brief write up on themselves.
        This should include 1 or 2 pictures, list of members and what they play, any
        interesting facts like: when they began, their inspirations, favourite bands, the
        kind of music they will perform, competitions won etc. We require this for
        newspaper write ups. Please keep this ready and give it to us along with your
        participation form- as it becomes difficult for us to follow up on each band for the
        info.</li>

    </ol>


    <h2>Format of the competition</h2>

    <ol style="text-align: left">
      <li>The show starts at 10.00.a.m. sharp. Reporting time will be 9. a.m.</li>

      <li>Each of the bands will have to perform 3 songs each. It will be 1
        original composition which will be compulsory. The balance numbers
        can belong to any category of music- Rock, POP, Jazz, Fusion, Folk,
        Alternative, Metal or any other genre.</li>


      <li>There will be only 1 winning band. The winner takes it all.</li>



    </ol>
  </div>




  <%= link_to 'Back', projectplay_path %>
</div>