

<% if @tickets.present? %>

  <% @tickets.each do |ticket| %>
    <%= image_tag ticket.qr_code.url(:maketicket_season), class: 'festival-ticket' %>
    <%#= ticket.random_code %>
  <% end %>

<% end %>