<div class="container">
  <div class="ticket-form">
    <%= simple_form_for(@ticket) do |f| %>

      <%= f.input :user_listed, label: 'User Responsibility' %>
      <%= f.input :ticket_type, :collection => Ticket::TICKET_TYPE.sort.map {|k,v| [v,k]} %>
      <%= f.input :student, :collection => Ticket::STUDENT.sort.map {|k,v| [v,k]}  %>
      <%= f.input :number_of_tickets %>

      <%= f.submit %>
    <% end %>
  </div>
</div>