/*
 *= require owl-carousel2
 *= require_self
 */

@import "bootstrap";

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600');

body {
  font-family: Montserrat, sans-serif;
  background-color: #ffffff;
  height: 100%;

}

.trends-logo{
  margin-top: -27px; 
  margin-bottom: 39px;
  width: 656px;
  height: 195px;
}


#particles-js canvas {
  display: block;
  vertical-align: bottom;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
  transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0
}


nav {
  display: flex;
  justify-content: flex-end;
  margin-top: 60px;
  margin-right: 30px;
  ul {
    display: flex;
    li{
      list-style: none;
    }
    a {
      font-size: 1.2rem;
      margin: 20px;
      text-decoration: none;
      color: #000;
      text-transform: uppercase;
      font-weight: 600;
      pointer: cursor;
      &:hover {
        transition: color 0.5s ease;
        text-decoration: none;
        color: #EC008C;
      }
    }
  }
}



.logo {
  background-image: image-url("logo-glitch.gif");
  height: 505px;
  width: 613px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -120px;
}

header {
  display : flex;
  flex-direction: column;
  // background-color: #c33;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
}

.dates {
  // background-color: #c33;
  width: 20%;
  display: flex;
  justify-content: space-between;
  color: #000;
  margin-top: -23px;
  font-size: 1.5rem;
  // align-items: center;
  p {
    font-weight: 200;

  }
}

p.date {
  font-weight: bold;
}

/* General button style (reset) */
.btn {
  border: none;
  font-family: inherit;
  font-size: 13px;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 15px 70px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-4 {
  border-radius: 50px;
  border: 2px solid #522929;
  color: #000;
  overflow: hidden;
}

.btn-4:active {
  border-color: #17954c;
  color: #17954c;
}

.btn-4:hover {
  background: #EC008C;
  color: #fff;
}

.btn-4:before {
  position: absolute;
  height: 100%;
  font-size: 105%;
  line-height: 3.5;
  color: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-4:active:before {
  color: #17954c;
}


section.features {
  padding-top: 3rem;
  padding-bottom: 3rem;
}



.hr {
  background-color: #EC008C;
  height: 1px;
  margin: 0;
  text-align: left;
  width: 4rem;
}

.projectplay-img {
  width: 63%;
}




.left-side {
  background-color: #7b1fff;
  padding: 70px;

}


.section-1 {
  position: relative;
  margin-top: 6rem;

  p {
    margin-top: 2rem;
    line-height: 1.7rem;
    color: #fff;
    font-weight: 300;
  }


  h2 {
    font-size: 1.2rem;
    color: #fff;
    letter-spacing: 4px;
  }


}

.bobasset {
  //width: 100%;
  //position: absolute;
  //right: 0;
  //top: -269px;

  width: 110%;
  position: absolute;
  right: 0;
  top: -126px;
}



a.btn-section.btn-join {
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 10px 30px;
  border-radius: 30px;
  text-transform: uppercase;
}


.terminal-design {
  margin-top: 5rem;
  //background-color: #c33;
  background-image: image-url("repeat.png");
  height: 98px;
  background-repeat: repeat-x;
}


.artists {
  margin-top: 6rem;

  h2{
    font-size: 1.2rem;
    color: #000;
    letter-spacing: 4px;
    text-transform: uppercase;
  }
}


.dummy {
  height: 300px;
  width: 300px;
  background: linear-gradient(10deg, #9f278a, #573c9a, #c33);
}


.mt-3rem {
  margin-top: 3rem;
}


.pplaylogo {
  width: 40%;
  position: absolute;
  top: -38px;
  right: -96px;
}



footer {
  margin-top: 3rem;
  width: 100%;
  height: 438px;
  //background-color: #7b1fff;
  background-image: image-url("footerimage.jpg");
}

.footer-logo {
  //background-color: #ffffff;

  width: 200px;
}

.footersection {
  background-color: #fff;
  padding-top: 3rem;
  padding-bottom: 2rem;
  ul {
    margin-top: 10px;

    li {
      list-style: none;
      text-transform: uppercase;

      a {
        color: #585757;
        font-size: 0.8rem;
        letter-spacing: 0.2rem;
        line-height: 30px;
      }
    }
  }
}

img.tuneinlogo {
  width: 130px;
}


.newsletter-section{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

a.btn-newsletter {
  text-transform: uppercase;
  color: #000;
  border: 2px solid;
  text-align: center;
  padding: 15px;
  border-radius: 30px;
  text-decoration: none;
}


.text-center.tos {
  display: flex;
  flex-direction: column;
  //height: 100vh;
  justify-content: center;
}


.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: image-url("loading.gif") 50% 50% no-repeat rgb(255,255,255);
}


// Fixing mobile view

@media (max-width: 767px) {
  /* Target devices narrower than 768px. */

  .trends-logo{
    margin-top: -98px;
    margin-bottom: 86px;
    width: 218px;
    height: 65px;
  }

  nav {
    justify-content: center;
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .logo {
    width: 297px;
    height: 257px;
  }

  #particles-js {
    display: none;
  }

  .dates {
    width: 55%;
    font-size: 1.2rem;
    margin-top: 0;
  }

  footer {

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 180px;
  }

  .pplaylogo {
    position: inherit;
    margin-left: -60px;
    width: 66%;
  }


  .footer-logo {
    width: 50%;
    display: block;
    margin: auto;
  }

  .newsletter-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .tuneinlogo {
    width: 33%;
    padding-bottom: 20px;
  }


  .footersection ul li {
    text-align: center;
    margin-left: -38px;
  }


  .footersection ul li a {
    font-size: 0.7rem;
  }


  .terminal-design {
    margin-top: 1rem;
    margin-bottom: -80px;
    height: 102px;
    background-repeat: repeat-x;
    background-size: contain;
  }

}


.ticket-form {
  margin-top: 150px;
}


img {
  page-break-before: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
  page-break-after: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
  page-break-inside: avoid; /* or 'auto' */
}




.festival-ticket {
  margin: 20px 0;
  width: 1450px;
  height: 472px;
}


.bands {
  //display: flex;
  //flex-flow: wrap;
  margin-top: 20px;
  //justify-content: center;
  display: grid;
  grid-template-rows: repeat(3 , minmax(350px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 20px;
  height: 100%;

  grid-auto-rows: 50px;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

}