/*
*= require jquery.slotmachine
*/

// Setting the global reset styles
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


html {
  font-size: 16px; // So that 1 rem = 10px
}


body {
  box-sizing: border-box;
  background-color: tomato;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  font-family: Sans-Serif;
}


.slotMachine {
  height: 100px;

}
.slotmachine {
  width: 35rem;
  background-color: #2E2F30;
  padding: 1rem;


  display: flex;
  flex-direction: column;


  &__buttons{

    display: flex;
    justify-content: center;
    align-items: center;

    &__button {
      widht: 10rem;
      margin: .3rem;
      color: red;
      align-self: center;
      display: inline-block;
      margin-top: 1rem;
      padding: 1rem;

      &--start {
        background-color: green;
        color: #ffffff;
      }

      &--stop {
        background-color: red;
        color: #fff;
      }
    }
  }

  &__elements{
    display: flex;
    justify-content: space-around;


    &--slot1 {
      width: 100px;
      height: 100px;
      background-color: cornflowerblue;
      display: inline-block;
      background: image-url("game/slot1.png");
      background-size: cover;

    }

    &--slot2{
      width: 100px;
      height: 100px;
      background-color: cornflowerblue;
      display: inline-block;
      background: image-url("game/slot2.png");
      background-size: cover;



    }

    &--slot3{
      width: 100px;
      height: 100px;
      background-color: cornflowerblue;
      display: inline-block;
      background: image-url("game/slot3.png");
      background-size: cover;

    }

    &--slot4{
      width: 100px;
      height: 100px;
      background-color: cornflowerblue;
      display: inline-block;
      background: image-url("game/slot4.png");
      background-size: cover;

    }


    &--slot5{
      width: 100px;
      height: 100px;
      background-color: cornflowerblue;
      display: inline-block;
      background: image-url("game/slot5.png");
      background-size: cover;

    }


    &--slot6{
      width: 100px;
      height: 100px;
      background-color: cornflowerblue;
      display: inline-block;
      background: image-url("game/slot6.png");
      background-size: cover;

    }

  }


}

