@charset "utf-8";
/* CSS Document */

// @import url(https://fonts.googleapis.com/css?family=Roboto);
/* @import url(http://fonts.googleapis.com/css?family=Pathway+Gothic+One); */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600');



*, *::after, *::before {
    font-family: Montserrat, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
//body{
//    height: 100vh;
//  //background-image: image-url("game/jborder.png");
//  //background-size: cover;
//}

h1.title {
  margin-bottom: 20px;
  font-size: 57px;
  z-index: 1;

}
.content{
    // background-color: #c33;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

   
        background-image: image-url("game/jtrends.png");
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;

  z-index: 10;

}



.slotMachine .slot{
    height:100px;
    background-position-x: 55%;
    background-repeat: no-repeat;
    //background-color: #730E15;
}

.slot1 {
    background-image: image-url("game/slot1.png");
}

.slot2 {
    background-image: image-url("game/slot2.png");
}

.slot3 {
    background-image: image-url("game/slot3.png");
}

.slot4 {
    background-image: image-url("game/slot4.png");
}

.slot5 {
    background-image: image-url("game/slot5.png");
}

.slot6 {
    background-image: image-url("game/slot6.png");
}


#casino .content:nth-child(1) {
    text-align: center;
    /* background: url(machine.png) no-repeat 50% 80px; */
    // background-position-x: calc(50% + 30px);
    min-height: 580px;
}

@media only screen and (max-width:  600px) {

    #casino .content > div {
        // padding-top: 33%;
        width: 300px;
        margin: 0 auto;
        transform: translateX(30px);
    }

}
@media only screen and (min-width: 1100px) {
    #casino .content > div {
        // padding-top: 12%;
        width: 300px;
        margin: 0 auto;
        transform: translateX(30px);
    }
}
@media only screen and (max-width: 1000px) and (min-width: 600px) {
    #casino .content > div {
        // padding-top: 25%;
        width: 300px;
        margin: 0 auto;
        transform: translateX(30px);
    }
}
@media only screen and (max-width: 1100px) and (min-width: 1000px) {
    #casino .content > div {
        // padding-top: 17%;
        width: 300px;
        margin: 0 auto;
        transform: translateX(30px);
    }
}


.machineContainer{
    padding: 5px 1px 5px 1px;
    height: 135px;
}

.slotMachine{
    width: 36.333333%;
    border: 5px solid #000;
    height: 100px;
    display: inline-block;
}

#casino .btn-group {
    margin-top: 150px;
    transform: translateX(-25px);
}

.btn-group {
  display: flex;
  margin-top: 20px !important;
  justify-content: center;
}
.btn {
  border: none;
  margin: 0 10px;
  padding: 10px 40px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #00AEEF;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  &:first-child {
    margin-left: -60px;
  }
  &--shuffle {
    background-color: #00AEEF;;
  }

  &--stop {
    background-color: #EC008C;
  }

  &--logout{
    background-color: #730E15;
  }
}
// #casino .fb{
//     background-color: #46b !important;
// }
// #casino .btn-group .btn:hover, .btn-group .btn:focus {
//     background-color: rgb(180, 75, 119);
// }



.banner {
    width: 800px;
    margin-bottom: 20px;
  z-index: 1;

}

h2 {
  font-weight: 200;
  margin-top: 30px;
  border: 2px solid #EC008C;
  padding: 20px;
  z-index: 1;

}




#particles-js canvas {
  display: block;
  vertical-align: bottom;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
  transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0
}
