<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Project Play Register</title>
  <style>
    .main{
      height: 100vh;
    }
  </style>
</head>
<body>
<div class="main">
<%= yield %>
</div>
</body>
</html>