<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->

<html lang="en">
<head>
  <title><%= @title.present? ? @title : 'Drift Music Festival - The Sounds Of Tomorrow' %></title>
  <%= include_gon %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'game', media: 'all'%>
</head>

<body id="casino">

<%= yield %>

<%= javascript_include_tag 'game' %>

</body>
</html>
